@import '~/assets/styles/variables.sass'

// Elements
footer, header
  --var: 0%
  .nav-Link
    a
      text-decoration: none
    span
      position: relative
      line-height: 2
      cursor: pointer
      &::before
        content: ''
        position: absolute
        left: 0
        display: inline-block
        bottom: -3px
        top: 0
        width: var(--var)
        z-index: 0
        border-bottom: $border
    &_Colophon
      opacity: .5
    &:hover
      span
        &::before
          @media ( hover: hover )
            animation: hyperLink .33s ease-out
            animation-iteration-count: 1
            animation-fill-mode: both
  .nav-Link_NonHome
    &.nuxt-link-active
      span
        &::before
          @media ( hover: hover )
            animation: hyperLink .33s ease-out
            animation-delay: .33s
            animation-iteration-count: 1
            animation-fill-mode: both
  .nav-Link_Home
    &.nuxt-link-exact-active
      span
        &::before
          @media ( hover: hover )
            animation: hyperLink .33s ease-out
            animation-delay: .33s
            animation-iteration-count: 1
            animation-fill-mode: both

.images
  position: relative
  display: flex
  flex-wrap: wrap
  margin-left: var(--gap-images-large)
  margin-right: var(--gap-images-large)
  &-Item
    padding-left: var(--gap-images-large)
    padding-right: var(--gap-images-large)
  img
    width: 100%
  &[data='1']
    .images-Item
      width: 100%
  &[data='2']
    .images-Item
      width: 50%
  &[data='3']
    .images-Item
      width: calc(100% / 3)
  &[data='4']
    .images-Item
      width: 25%

// Sections
body
  position: relative
  background-color: #C0C9E5
  transition: background-color .33s ease-in

main
  position: relative
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  padding-left: var(--spacing-sides)
  padding-right: var(--spacing-sides)
  padding-bottom: var(--spacing-three)

.page
  position: relative
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.section
  &-Wrapper
    position: relative
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    .section
      margin-bottom: var(--spacing-sections)
      &:first-child
        margin-top: 50vh
      &:first-child.section-Mainlanding
        margin-top: 0
  &-Content
    position: relative
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

.subSection
  opacity: 0
  transform: translateY(50px)
  margin-bottom: var(--spacing-three)
  width: 100%
  max-width: var(--max-width-content)
  margin-bottom: var(--spacing-subsections)
  // border: 1px solid black
  &:last-child
    margin-bottom: 0

// Important since overriding interactions
// .desktop
//   display: none
//   @media screen and ( max-width: $breakpoint-mobile)
//     display: none !important
// .mobile
//   display: none
//   @media screen and ( max-width: $breakpoint-mobile)
//     display: block !important
// .horizontal
//   display: none
//   @media screen and (orientation: landscape)
//     display: block !important
// .vertical
//   display: none
//   @media screen and (orientation: portrait)
//     display: block !important
