@import '~/assets/styles/variables.sass'

body
  position: relative
  background: #C0C9E5

.page
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  border: 1px solid blue
.section
  max-width: 960px
  border: 1px solid blue
  margin-bottom: 20vw
  img
    max-width: 100%
  &-Animation
    position: fixed
    left: 0
    top: 0
    width: 100%
    max-width: 100%
    height: 100%
    margin-bottom: 0
    #object
      width: 50px
      height: 50px
      background: white
      border-radius: 1000px
    #path
      // background: blue
  &-Landing
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    max-width: 100%
    height: 100vh
    margin-bottom: 0
    .display
      h1
        font-size: 10vw
  &-Content
    display: flex
    justify-content: center
    align-items: center
    ul
      display: flex
      flex-direction: column
      width: 60vw
    li
      margin-bottom: 20vw

.blog-post
  padding-left: 1em
  padding-right: 1em

// Important since overriding interactions
.desktop
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: none !important
.mobile
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: block !important
.horizontal
  display: none
  @media screen and (orientation: landscape)
    display: block !important
.vertical
  display: none
  @media screen and (orientation: portrait)
    display: block !important
