@import '~/assets/styles/variables.sass'

@font-face
  font-family: 'Shrikhand'
  src: url('~assets/fonts/Shrikhand-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Avenir Regular'
  src: url('~assets/fonts/AvenirNext-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Avenir Medium'
  src: url('~assets/fonts/AvenirNext-Medium.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Avenir Italic'
  src: url('~assets/fonts/AvenirNext-Italic.woff2') format('woff2')
  font-weight: normal
  font-style: normal

// https://www.madebymike.com.au/writing/fluid-type-calc-examples/
html
  font-size: 16px

@media screen and (min-width: 800px)
  html
    font-size: calc(16px + 6 * ((100vw - 800px) / 1200))

@media screen and (min-width: 2000px)
  html
    font-size: 22px

.title, .subtitle, .textLarge
  word-wrap: break-word
  overflow-wrap: break-word
  word-break: normal
  hyphens: auto

.text
  word-wrap: normal
  word-break: normal
  overflow-wrap: normal
  hyphens: none

li, h1, h2, h3, p, a, a:link, a:visited, a:hover, a:active, span, input, button
  font-family: 'Avenir Regular',Helvetica, Arial, sans-serif
  font-size: 1rem
  line-height: 1.5
  color: white
  font-style: normal
  font-weight: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center

h1
  font-size: 6rem
  line-height: 1.25
  font-family: 'Shrikhand'
  @media screen and ( max-width: $breakpoint-mobile)
    font-size: 4.5rem

h2
  font-size: 3rem
  font-family: 'Shrikhand'

p
  font-size: 1rem

.markdown, h1, h2, h3, h4, h5

.title
  font-size: 6rem
  line-height: 1.25
  font-family: 'Shrikhand'
  @media screen and ( max-width: $breakpoint-mobile)
    font-size: 4.5rem
  .markdown p, .markdown p a, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5
    font-size: 6rem
    line-height: 1.25
    font-family: 'Shrikhand'
    @media screen and ( min-width: $breakpoint-mobile)
      font-size: 4.5rem

.subtitle
  font-size: 3rem
  font-family: 'Shrikhand'
  .markdown p, .markdown p a, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5
    font-size: 3rem
    font-family: 'Shrikhand'

.titleSmall
  font-size: 1rem
  font-family: 'Shrikhand'
  .markdown p, .markdown p a, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5
    font-size: 1rem
    font-family: 'Shrikhand'

.text
  font-size: 1rem
  max-width: 36em
  .markdown p, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5
    font-size: 1rem
    max-width: 36em

.textLarge
  font-size: 2rem
  .markdown p, .markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5
    font-size: 2rem

a
  color: currentColor
  text-decoration: none

strong
  font-weight: bold

em
  font-style: italic

.ellipsis
  overflow: hidden
  min-width: 0
  text-overflow: ellipsis
  h1, h2, h3, p, a
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
