$breakpoint-mobile: 800px
$breakpoint-laptop: 1440px

$max-content-width: 960px
$border: 2px solid white

body
  --first-child-top: calc(50vh - 4.5rem)
  --spacing-one: 2.5vmin
  --spacing-two: 5vmin // UNIT 1
  --spacing-three: 10vmin
  --spacing-four: 20vmin // UNIT 2
  --spacing-five: 40vmin
  --spacing-sides: 10vmin
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em
