// Variables
$breakpoint-mobile: 800px
$breakpoint-laptop: 1440px

$max-content-width: 960px
$border: 2px solid white

// Custom variables
body
  --first-child-top: calc(50vh - 4.5rem)
  --spacing-one: 2.5vmin
  --spacing-two: 5vmin // UNIT 1
  --spacing-three: 10vmin
  --spacing-four: 20vmin // UNIT 2
  --spacing-five: 40vmin
  --spacing-sides: 10vmin
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em

// Animations
@keyframes hyperLink
  0%
    width: 0%
  100%
    width: 100%
@keyframes hyperHyperLink
  0%
    width: 100%
    left: auto
    right: 0
  50%
    width: 0%
    left: auto
    right: 0
  51%
    width: 0%
    left: 0
    right: auto
  100%
    left: 0
    right: auto
    width: 100%
