// Variables
$breakpoint-mobile: 830px
$breakpoint-laptop: 1440px

$max-content-width: 960px
$border: 3px solid white

// Custom variables
body
  --max-width-content: 960px
  --first-child-top: calc(50vh - 3.25rem)
  --spacing-one: 2.5vmax
  --spacing-two: 5vmax // UNIT 1
  --spacing-three: 10vmax
  --spacing-four: 20vmax // UNIT 2
  --spacing-five: 40vmax
  --spacing-sides: 10vw

// Animations
@keyframes hyperLink
  0%
    width: 0%
  100%
    width: 100%
